header.header {
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all .3s linear;
    width: 100%;
    margin: 0 auto;
    background: lighten(#f10215, 10%);
    border: none;
    >.header-inner {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 20px;
        height: 100%;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        >.logo {
            font-size: 28px;
            font-weight: 600;
            color: rgba(255, 255, 255, .85);
            user-select: none;
            cursor: pointer;
        }
    }
}