.user-account {
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 2px;
    max-width: 800px;
    margin: 0 auto;
    >.title-wrapper {
        display: flex;
        justify-content: flex-start;
        >.title {
            border-bottom: 1px solid rgba(0, 0, 0, .15);
            padding-bottom: 5px;
            padding-left: 20px;
            cursor: pointer;
            user-select: none;
            >span {
                padding: 4px 0;
            }
            &:last-child {
                flex-grow: 1;
            }
            &.active {
                color: #f10215;
            }
        }
    }
    >.password, >.address {
        margin-left: 20px;
        padding-bottom: 10px;
        padding-right: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
        p {max-width: 400px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: default;
            >label {
                width: 6em;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-shrink: 0;
            }
        }
        >.wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            @media (min-width: 768px) {
                flex-direction: row;
                align-items: center;
            }
            >p {
                &:last-child {
                    margin-left: 0;
                    @media (min-width: 768px) {
                        margin-left: 17px;
                    }
                }
            }
        }
    }
    >.btn {
        margin: 20px 80px;
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: lighten(#f10215, 20%);
        color: rgba(255, 255, 255, .85);
        cursor: pointer;
        user-select: none;
        border-radius: 2px;
        &:hover {
            background: lighten(#f10215, 10%);
        }
    }
}