$link:#1890ff;
$success:#67C23A;
$warning:#E6A23C;
$error:#F56C6C;
$title:rgba(0, 0, 0, .85);
$main:rgba(0, 0, 0, .65);
$sub:rgba(0, 0, 0, .45);
$disabled:rgba(0, 0, 0, 0.25);
$border:rgba(0, 0, 0, .15);
$divider:rgba(0, 0, 0, .09);
$bg:rgba(0, 0, 0, .04);
$habg:#f0faff;
$hover:#69b9ff;
$p:#409EFF;
$p1:#f0faff;
$p2:#e3f5ff;
$p3:#bae3ff;
$p4:#91cfff;
$p5:#69b9ff;
$p6:#409eff;
$p7:#2b7cd9;
$p8:#1b5db3;
$p9:#0e418c;
$p10:#092b66;
$shadow:0 2px 8px rgba(0, 0, 0, .15);
$borderbase:1px solid rgba(0, 0, 0, .15);
$red:#f10215;